@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap');
html {
    box-sizing: border-box;
  }
  
  *,
  *:before, *:after {
    box-sizing: inherit;
  }

section{
    border:solid 4px black;
}

h1 {
    font-family: 'Covered By Your Grace',sans-serif;
    font-weight: 700;
    padding:1rem;
}
h2 {
    font-family: 'Covered By Your Grace',sans-serif;
    font-weight: 700;
    padding:1rem;
}
p {font-family: 'Neucha',sans-serif;
    font-weight: .8rem;
    padding:1.6rem;

}

#container{
    width: 80%;
    margin: 0 auto;
    background-color: blueviolet;
}

main { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 10px;
}

#crash1{
    width: 250px;
    float: left;
    shape-outside: circle(111px at 126px 111px);
}
#crashlogopng{
    height: 150px;
    float: right;
    shape-outside: url(../Images/crashlogopng.png);
    shape-margin: .2rem;
}
#crash2{
    width: 400px;
    float: left;
    shape-outside:polygon(80.50% 10.27%, 0% 100%, 86.92% 100.62%, 97.75% 55.8%, 86.94% 37.7%)
}
#crash3{
    width: 400px;
    float: left;
    shape-outside: polygon(50% 0%, 0.56% 7.17%, 0% 100%, 100% 100%, 76.16% 30.46%);
    clip-path: polygon(50% 0%, 0.56% 7.17%, 0% 100%, 100% 100%, 76.16% 30.46%);

}
