html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0%;
  }
  #titulo{
    width: 80%;
    margin: 0%;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 105, 230);
    flex-wrap: wrap;
}

  #wrapper {
      width: 80%;
     /* height: 100vh*/
      margin: 0 auto;
      background-color: rgb(142, 211, 216);
      display: flex;
      /*flex-direction: row;
      flex-wrap: wrap-reverse;
      flex-flow: column-reverse wrap-reverse;
      flex flow es  lo mismo que los dos de arriba*/
      justify-content: center;
      align-items: flex-end;
      border: solid black 2px;
      flex-wrap: wrap;
  }
  #wrapper2{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(105, 245, 112);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    border: solid black 2px;
}
  
  p{
      padding: 1rem;
  }
.uno{
      background-color: blueviolet;
      height: 100px;
      width: 100px;
      border: solid black 2px;
  }
.dos{
    background-color: rgb(75, 84, 161);
    height: 200px;
    width: 100px;
    border: solid black 2px;
}
.tres{
    background-color: rgb(28, 126, 118);
    height: 300px;
    width: 100px;
    border: solid black 2px;
    align-self: flex-start;
}
.cuatro{
    background-color: rgb(42, 129, 42);
    height: 400px;
    width: 100px;
    border: solid black 2px;
}
.cinco{
    background-color: rgb(106, 122, 32);
    height: 500px;
    width: 100px;
    border: solid black 2px;
}
.seis{
    background-color: rgb(202, 111, 25);
    height: 600px;
    width: 100px;
    border: solid black 2px;
}

.box{
    border: solid black 2px;
}
